<div *ngIf="player" class="training-dates-container">
  <div class="header">
    <p>Trainingskalender für {{ player }}</p>
    <button mat-raised-button color="primary" (click)="generateICSFile()">
      <mat-icon>calendar_today</mat-icon>
      ICS Datei herunterladen
    </button>
  </div>

  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Datum</th>
      <td mat-cell *matCellDef="let training">
        {{ training.date | date: 'mediumDate' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="otherPlayers">
      <th mat-header-cell *matHeaderCellDef>Mitspieler</th>
      <td mat-cell *matCellDef="let training">
        <mat-chip-set>
          <mat-chip *ngFor="let player of training.otherPlayers | sort">{{ player }}</mat-chip>
        </mat-chip-set>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
