<mat-stepper linear #stepper>
  <mat-step [completed]="isUploadComplete">
    <ng-template matStepLabel>Trainingsplan hochladen</ng-template>
    <app-upload-excel (uploadComplete)="onFileUploaded($event)"></app-upload-excel>
  </mat-step>

  <mat-step [completed]="isConfigSelected" [editable]="isUploadComplete">
    <ng-template matStepLabel>Konfiguration auswählen</ng-template>
    <app-select-config (configSelected)="onConfigSelected($event)"></app-select-config>
  </mat-step>

  <mat-step [completed]="isPlayerSelected" [editable]="isConfigSelected">
    <ng-template matStepLabel>Spieler auswählen</ng-template>
    <app-select-player
      [players]="players"
      (playerSelected)="onPlayerSelected($event)"
    ></app-select-player>
  </mat-step>

  <mat-step [editable]="isPlayerSelected">
    <ng-template matStepLabel>Trainingsdaten</ng-template>
    <app-training-calendar></app-training-calendar>
  </mat-step>
</mat-stepper>
